.main {
    width: 650px;
    box-sizing: border-box;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 5px;
}

.scoreboard {
    width: 127px;
    background-color: lightyellow;
    border-right: 1px solid black;
    // padding-left: 20px;
}

.card-deck {
  width: 100px;
  margin: 10px auto;
}

.field {
    // width: 518px;
    // height: 518px;
    // border: 1px solid black;
    display: grid;
    grid-gap: 1px;
    position: relative;
}

.cell {
    width: 62px;
    height: 62px;
    border: 1px solid black;
    position: relative;
}

.red-border {
  border: 3px solid red;
}

.blue-border {
  border: 3px solid blue;
}

.shuffled-cards {
    width: 62px;
    height: 62px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
}

.cards-left {
  margin: 10px auto;
  text-align: center;
}

.corner {
    background-image: url('../images/corner.png');
    width: 62px;
    height: 62px;
    box-sizing: border-box;
}

.imprasse {
    background-image: url('../images/impasse.png');
    width: 62px;
    height: 62px;
    box-sizing: border-box;
}

.stick {
    background-image: url('../images/stick.png');
    width: 62px;
    height: 62px;
    box-sizing: border-box;
}