@keyframes anim1 {
  100% {
    transform: rotate(360deg);
  }
}

.watch {
  position: relative;
  width: 450px;
  height: 450px;
  background: url("../images/22.png")
}

.arrow {
  content: '';
  position: absolute;
  width: 1px;
  height: 150px;
  background-color: black;
  top: 67px;
  left: 217px;
  transform-origin: 1px 150px;
  animation: anim1 60s steps(60, end) infinite ;
  box-shadow: 5px 10px 10px rgba(0,0,0,1)
}