/* @font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-MediumItalic.eot');
    src: local('Graphik LCG Medium Italic'), local('GraphikLCG-MediumItalic'), url('GraphikLCG-MediumItalic.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-MediumItalic.woff2') format('woff2'), url('GraphikLCG-MediumItalic.woff') format('woff'), url('GraphikLCG-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-SuperItalic.eot');
    src: local('Graphik LCG Super Italic'), local('GraphikLCG-SuperItalic'), url('GraphikLCG-SuperItalic.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-SuperItalic.woff2') format('woff2'), url('GraphikLCG-SuperItalic.woff') format('woff'), url('GraphikLCG-SuperItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-SemiboldItalic.eot');
    src: local('Graphik LCG Semibold Italic'), local('GraphikLCG-SemiboldItalic'), url('GraphikLCG-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-SemiboldItalic.woff2') format('woff2'), url('GraphikLCG-SemiboldItalic.woff') format('woff'), url('GraphikLCG-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Black.eot');
    src: local('Graphik LCG Black'), local('GraphikLCG-Black'), url('GraphikLCG-Black.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-Black.woff2') format('woff2'), url('GraphikLCG-Black.woff') format('woff'), url('GraphikLCG-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Super.eot');
    src: local('Graphik LCG Super'), local('GraphikLCG-Super'), url('GraphikLCG-Super.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-Super.woff2') format('woff2'), url('GraphikLCG-Super.woff') format('woff'), url('GraphikLCG-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Thin.eot');
    src: local('Graphik LCG Thin'), local('GraphikLCG-Thin'), url('GraphikLCG-Thin.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-Thin.woff2') format('woff2'), url('GraphikLCG-Thin.woff') format('woff'), url('GraphikLCG-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-ExtralightItalic.eot');
    src: local('Graphik LCG Extralight Italic'), local('GraphikLCG-ExtralightItalic'), url('GraphikLCG-ExtralightItalic.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-ExtralightItalic.woff2') format('woff2'), url('GraphikLCG-ExtralightItalic.woff') format('woff'), url('GraphikLCG-ExtralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
} */


/* 
@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-BoldItalic.eot');
    src: local('Graphik LCG Bold Italic'), local('GraphikLCG-BoldItalic'), url('GraphikLCG-BoldItalic.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-BoldItalic.woff2') format('woff2'), url('GraphikLCG-BoldItalic.woff') format('woff'), url('GraphikLCG-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-LightItalic.eot');
    src: local('Graphik LCG Light Italic'), local('GraphikLCG-LightItalic'), url('GraphikLCG-LightItalic.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-LightItalic.woff2') format('woff2'), url('GraphikLCG-LightItalic.woff') format('woff'), url('GraphikLCG-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-BlackItalic.eot');
    src: local('Graphik LCG Black Italic'), local('GraphikLCG-BlackItalic'), url('GraphikLCG-BlackItalic.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-BlackItalic.woff2') format('woff2'), url('GraphikLCG-BlackItalic.woff') format('woff'), url('GraphikLCG-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Medium.eot');
    src: local('Graphik LCG Medium'), local('GraphikLCG-Medium'), url('GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-Medium.woff2') format('woff2'), url('GraphikLCG-Medium.woff') format('woff'), url('GraphikLCG-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Light.eot');
    src: local('Graphik LCG Light'), local('GraphikLCG-Light'), url('GraphikLCG-Light.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-Light.woff2') format('woff2'), url('GraphikLCG-Light.woff') format('woff'), url('GraphikLCG-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Semibold.eot');
    src: local('Graphik LCG Semibold'), local('GraphikLCG-Semibold'), url('GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-Semibold.woff2') format('woff2'), url('GraphikLCG-Semibold.woff') format('woff'), url('GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* @font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Bold.eot');
    src: local('Graphik LCG Bold'), local('GraphikLCG-Bold'), url('GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-Bold.woff2') format('woff2'), url('GraphikLCG-Bold.woff') format('woff'), url('GraphikLCG-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Bold.eot');
    src: local('Graphik LCG Bold'), local('GraphikLCG-Bold'), url('GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-Bold.woff2') format('woff2'), url('GraphikLCG-Bold.woff') format('woff'), url('GraphikLCG-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Regular.eot');
    src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'), url('GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'), url('GraphikLCG-Regular.woff2') format('woff2'), url('GraphikLCG-Regular.woff') format('woff'), url('GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro.eot');
    src: local('Gotham Pro'), local('GothamPro'), url('GothamPro.eot?#iefix') format('embedded-opentype'), url('GothamPro.woff') format('woff'), url('GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'), url('GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'), url('GothamProNarrow-Bold.woff') format('woff'), url('GothamProNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #FFFFFF;
    font-family: 'Graphik LCG', sans-serif;
    font-size: 18px;
    color: #333333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}


/* div {
    border: 1px solid black;
} */

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 103px;
}

.main-logo a {
    display: block;
    margin-left: 143px;
    margin-top: 48px;
    width: 290px;
    min-height: 45px;
    font-family: "Gotham Pro", sans-serif;
    font-size: 24px;
    line-height: 26px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.22em;
    font-weight: bold;
}

.main-logo a::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -21px;
    left: -82px;
}

.main-navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 900px;
    margin-top: 36px;
    margin-right: 50px;
    letter-spacing: 0.4px;
    font-size: 14px;
    font-weight: bold;
}

.main-navigation-list-item {
    width: 135px;
    position: absolute;
}

.our-directions {
    left: 153px;
}

.portfolio {
    left: 358px;
}

.contacts {
    left: 507px;
}

.request-breaf {
    position: absolute;
    display: block;
    width: 196px;
    box-sizing: border-box;
    height: 45px;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.4px;
    background: linear-gradient(to left, #5C9FF9, #0058DC);
    color: #ffffff;
    border-radius: 2px;
    padding-top: 12px;
    padding-left: 26px;
    top: -17px;
    right: 59px;
}

.request-breaf::after {
    content: "";
    position: absolute;
    background-image: url("../images/row-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 10px;
    top: 19px;
    right: 11px;
}