.main {
  height: 98vh;
  // display: grid;
  // grid-template-rows: 6fr 3fr 1fr;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div {
  border: 2px solid black;
}

.item1011 {
  height: 300px;
}

.item12 {
  min-height: 100px;
}