.main {
    margin: 50 auto;
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 20px auto;
    width: 200px;
    height: 100px;
    font-size: 40px;
}

// Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde quod illo quibusdam voluptates deleniti modi eveniet, dicta pariatur officiis tenetur enim cupiditate iusto nihil tempore quas autem ratione eaque iure.