    .main {
        background-color: burlywood;
        width: 550px;
        height: 550px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        color: white;
    }
    
    .box {
        margin: 20px 0;
        background-color: gray;
        width: 50px;
        border-radius: 5px;
    }
    
    .box:(:nth-child(3)) {
        height: 150px;
    }
    
    .box:(:nth-child(4)) {
        width: 300px;
    }
    
    .box:(:nth-child(5)) {
        height: 50px;
    }