div {
    width: 80%;
    height: 50px;
    margin: 20px auto;
    position: relative;
}

div:nth-child(1) {
    background-color: coral;
}

div:nth-child(2) {
    background-color: darkblue;
}

div:nth-child(3) {
    background-color: darkorange;
}

div:nth-child(4) {
    background-color: darkred;
}

div:nth-child(5) {
    background-color: forestgreen;
}

div::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid;
    border-bottom: 25px solid transparent;
    left: -50px;
}

div::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid green;
    border-bottom: 25px solid transparent;
    right: -50px;
}

div:nth-child(1)::before,
div:nth-child(1)::after {
    border-color: transparent coral transparent;
}

div:nth-child(2)::before,
div:nth-child(2)::after {
    border-color: transparent darkblue transparent;
}

div:nth-child(3)::before,
div:nth-child(3)::after {
    border-color: transparent darkorange transparent;
}

div:nth-child(4)::before,
div:nth-child(4)::after {
    border-color: transparent darkred transparent;
}

div:nth-child(5)::before,
div:nth-child(5)::after {
    border-color: transparent forestgreen transparent;
}