<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
      <% for (let i = 0; i < weekArr.length; i++) { %>
        <div class="cell panel">
          <%= weekArr[i] %>
        </div>
      <% } %>

      <% if (firstMonthDayNum > 0) { %>
        <% for (let z = 1; z <= (firstMonthDayNum - 1); z++) { %>   <!--Проверка, если первый день месяца не воскресенье (0 индекс)-->
          <div class="cell">
          </div>
        <% } %>
      <% } else { %>
        <% for (let z = 1; z <= 6; z++) { %>      <!--Проверка, если первый день месяца воскресенье (0 индекс)-->
          <div class="cell">
          </div>
        <% } %>
      <% } %>
     
      <% for (let j = 1; j <= daysInMonth; j++) { %>
        
        <div class="cell">
          <%= j %>
        </div>
      <% } %>
    </div>
  </body>
</html>
