.scene {
    margin: 0 auto;
    position: relative;
    height: 676px;
    width: 1320px;
    border: 5px solid black;
}

.train {
    position: absolute;
    // width: 690px;
    // height: 676px;
    box-sizing: border-box;
    // left: 0;
}

.container {
    margin: 50px auto;
    width: 650px;
}

.btn {
    width: 200px;
    height: 50px;
}

.light-off {
    fill: blue;
}

.light-on {
    fill: yellow;
}

@keyframes shift-forward {
    0% {}
    100% {
        left: 630px;
    }
}

@keyframes shift-reverse {
    0% {
        left: 630px;
    }
    100% {
        left: 0;
    }
}

.drive-forward {
    animation: shift-forward 5s linear forwards paused;
    // animation-name: drive-forward;
    // animation-duration: 5s;
    // animation-delay: 0;
    // animation-iteration-count: 1;
    // animation-play-state: paused;
}

.drive-reverse {
    animation: shift-reverse 5s linear forwards paused;
    // animation-name: drive-backward;
    // animation-duration: 5s;
    // animation-delay: 0;
    // animation-iteration-count: 1;
    // animation-play-state: paused;
}