<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
      <textarea>
      </textarea>
      <button type="submit">
        <%= buttonName %>
      </button>
    </div>
  </body>
</html>