@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Regular.eot');
    src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'), url('GraphikLCG-Regular.woff2') format('woff2'), url('GraphikLCG-Regular.woff') format('woff'), font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro.eot');
    src: local('Gotham Pro'), local('GothamPro'), url('GothamPro.eot?#iefix') format('embedded-opentype'), url('GothamPro.woff') format('woff'), url('GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FFFFFF;
    font-family: 'Graphik LCG', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #333333;
    width: 1920px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

h1 {
    font-size: 52px;
    line-height: 76px;
}

h2 {
    margin: 0;
    font-size: 45px;
    line-height: 74px;
    letter-spacing: 0.007em;
}

h3 {
    font-size: 36px;
    line-height: 59px;
}

.container {
    width: 1131px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}


/*HEADER */

.header {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 95px;
    box-sizing: border-box;
}

.main-logo a {
    display: block;
    margin-left: 112px;
    margin-top: 34px;
    width: 290px;
    min-height: 45px;
    font-family: "Gotham Pro", sans-serif;
    font-size: 22px;
    line-height: 26px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.main-logo a::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -16px;
    left: -65px;
}

.main-navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 900px;
    margin-top: 32px;
    left: 9px;
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
}

.main-navigation-list-item {
    width: 135px;
    position: absolute;
}

.our-directions {
    left: 154px;
}

.portfolio {
    left: 357px;
}

.contacts {
    left: 507px;
}

.request-breaf {
    position: absolute;
    display: block;
    width: 196px;
    height: 44px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.04em;
    background: linear-gradient(to left, #5C9FF9, #0058DC);
    color: #ffffff;
    border-radius: 3px;
    border: none;
    padding-bottom: 4px;
    padding-right: 38px;
    top: -11px;
    right: 58px;
}

.request-breaf::after {
    content: "";
    position: absolute;
    background-image: url("../images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 10px;
    top: 17px;
    right: 12px;
}


/*HEADER BOTTOM */

.main-slider {
    height: 977px;
    background: url("../images/main-slider.png");
    background-position: -7px -103px;
    position: relative;
}

.main-slider h1 {
    position: absolute;
    left: 396px;
    top: 218px;
    letter-spacing: 0.025em;
}

.main-slider p {
    display: block;
    width: 430px;
    box-sizing: border-box;
    position: absolute;
    left: 954px;
    top: 253px;
    line-height: 26px;
    letter-spacing: 0.038em;
}

.small-ellipse {
    position: absolute;
    left: 434px;
    top: 78px;
}

.big-ellipse {
    position: absolute;
    left: 1428px;
    top: 531px;
}

.details {
    position: absolute;
    display: block;
    width: 241px;
    height: 54px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.04em;
    background: linear-gradient(to left, #5C9FF9, #0058DC);
    color: #ffffff;
    border-radius: 3px;
    border: none;
    padding-right: 117px;
    top: 541px;
    left: 954px;
}

.details::after {
    content: "";
    position: absolute;
    background-image: url("../images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 10px;
    top: 22px;
    right: 17px;
}

.switch-list {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 550px;
    left: 355px;
    width: 193px;
    justify-content: space-between;
}

.switch-list-item {
    display: block;
    width: 9px;
    height: 9px;
    box-sizing: border-box;
    border: 1.3px solid #333333;
    border-radius: 50%;
}

.switched {
    background: linear-gradient(to left, #0058DC, #5C9FF9);
}

.switch-list::after {
    content: "";
    position: absolute;
    background-image: url("../images/big-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 111px;
    height: 9px;
    top: -1px;
    right: -158px;
}

.rhombus {
    position: absolute;
    left: 625px;
    top: 670px;
}

.swipe {
    position: absolute;
    left: 942px;
    top: 877px;
}


/* MAIN */

.main {
    margin-top: 87px;
}

.about-us p {
    margin-top: 12px;
    width: 788px;
    display: block;
    box-sizing: border-box;
}

.advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 951px;
    margin-left: 112px;
    margin-top: 72px;
    line-height: 27px;
    letter-spacing: 0.03em;
}

.advantages-list-item {
    position: relative;
}

.advantages-list-item::before {
    position: absolute;
    font-size: 36px;
    line-height: 59px;
    font-weight: bold;
    left: -106px;
}

.advantages-list-item:nth-child(1)::before {
    content: "50";
}

.advantages-list-item:nth-child(2)::before {
    content: ">30";
    left: -117px;
}

.advantages-list-item:nth-child(3)::before {
    content: "4";
    left: -96px;
}

.advantages-list-item::after {
    position: absolute;
    content: "";
    font-size: 36px;
    background: url("../images/ellipse2.png");
    width: 129px;
    height: 129px;
    left: -149px;
    top: -35px;
}

.details-transparent {
    display: block;
    width: 239px;
    height: 54px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.05em;
    background-color: transparent;
    color: #005DE8;
    border-radius: 3px;
    border: 1.3px solid #005DE8;
    padding-right: 114px;
    margin-top: 95px;
    position: relative;
}

.details-transparent::after {
    content: "";
    position: absolute;
    background-image: url("../images/arrow-right-blue.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 10px;
    top: 22px;
    right: 14px;
}


/* BANNER */

.banner {
    height: 464px;
    background-color: #1B1B1B;
    margin-top: 108px;
    position: relative;
    color: #ffffff;
}

.banner::before {
    position: absolute;
    content: "";
    width: 1944px;
    height: 1944px;
    background: url("../images/giant-ellipse.svg");
    left: 387px;
    top: -3px;
    opacity: 0.08;
    display: block;
    box-sizing: border-box;
}

.banner::after {
    position: absolute;
    content: "";
    width: 867px;
    height: 464px;
    background: url("../images/phones.png");
    left: 848px;
    top: 0;
    z-index: 3;
}

.banner h3 {
    padding-top: 110px;
    letter-spacing: 0.1em;
}

.banner p {
    letter-spacing: 0.015em;
    margin-top: 3px;
    line-height: 30px;
}

.details-transparent--white {
    border: 1.3px solid #ffffff;
    color: #ffffff;
    padding-right: 86px;
    margin-top: 31px;
    margin-left: 395px;
}

.details-transparent--white::after {
    content: "";
    position: absolute;
    background-image: url("../images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 10px;
    top: 22px;
    right: 14px;
}


/* MAIN DIRECTINOS */

.main-directions {
    margin-top: 89px;
}

.main-directions p {
    margin-top: 4px;
    width: 805px;
    line-height: 30px;
    letter-spacing: 0.018em;
}

.main-directions-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-top: 70px;
}

.main-directions-list a {
    display: block;
    width: 238px;
    height: 238px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

.main-directions-list a:hover {
    background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%);
    z-index: 2;
    color: #ffffff;
}

.main-directions-list-item {
    position: relative;
}

.main-directions-list-item img {
    position: relative;
    display: block;
    padding-top: 54px;
    box-sizing: content-box;
    margin: 0 auto;
}

.main-directions-list-item span {
    position: relative;
    padding-top: 36px;
    letter-spacing: 0.05em;
    display: block;
    box-sizing: content-box;
    margin: 0 auto;
    text-align: center;
}

.hovered {
    background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%);
    z-index: 2;
}

.hovered span {
    color: #ffffff;
}

.latest-projects {
    margin-top: 87px;
}

.last-projects-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 28px;
    padding: 0;
}

.last-projects-list-item {
    border-radius: 5px;
    display: block;
    width: 328px;
    height: 502px;
    box-sizing: border-box;
}

.last-projects-list-item a {
    display: block;
    width: 328px;
    height: 502px;
    box-sizing: border-box;
    color: #ffffff;
    position: relative;
}

.ikra {
    background: url("../images/ikra-bg.png");
    background-position: 0 0;
    z-index: 2;
}

.goa {
    background: url("../images/goa-bg.png");
    background-position: 0 0;
    z-index: 2;
}

.humm {
    background: url("../images/humm-bg.png");
    background-position: 0 0;
    z-index: 2;
}

.projects-top-span {
    display: block;
    font-size: 13px;
    line-height: 21.33px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 92px;
}

.last-projects-list-item img {
    position: absolute;
    content: "";
    display: block;
    box-sizing: content-box;
    top: 93px;
    left: 103px;
}

.last-projects-list-item:nth-child(2) img {
    left: 116px;
}

.last-projects-list-item:nth-child(3) img {
    left: 118px;
}

.projects-bottom-span {
    display: block;
    position: relative;
    box-sizing: content-box;
    text-align: center;
    margin-top: 161px;
}

.projects-bottom-span::after {
    content: "";
    position: absolute;
    background-image: url("../images/big-arrow-right-white.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 111px;
    height: 9px;
    top: 138px;
    right: 112px;
}

.all-cases {
    display: block;
    width: 191px;
    height: 20px;
    box-sizing: border-box;
    color: #005DE8;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.035em;
    margin-top: 44px;
    position: relative;
}

.all-cases::after {
    position: absolute;
    content: "";
    background: url("../images/big-arrow-right-blue.svg");
    width: 145px;
    height: 10px;
    top: 8px;
    left: 184px;
}


/* OUR PARTNERS */

.banner-partners {
    display: block;
    height: 509px;
    box-sizing: border-box;
    background-color: #1B1B1B;
    margin-top: 87px;
    position: relative;
    color: #ffffff;
}

.banner-partners::before {
    position: absolute;
    display: block;
    content: "";
    width: 1944px;
    height: 500px;
    background: url("../images/giant-ellipse2.svg");
    left: -8px;
    top: 95px;
    opacity: 0.08;
    box-sizing: border-box;
}

.banner-partners h2 {
    padding-top: 80px;
    letter-spacing: 0.01em;
}

.banner-partners img {
    top: 208px;
    display: block;
    box-sizing: border-box;
    margin: 49px auto;
}


/*OUR TECHNOLOGIES */

.our-technologies {
    margin-top: 74px;
}

.our-technologies p {
    margin-top: 4px;
    line-height: 30px;
    letter-spacing: 0.02em;
}

.our-technologies-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 49px;
}

.our-technologies-list-item {
    display: block;
    width: 201px;
    height: 201px;
    box-sizing: border-box;
}

.our-technologies-list-item img {
    position: relative;
    padding-top: 29px;
    display: block;
    box-sizing: content-box;
    margin: 0 auto;
}

.technology-title {
    font-weight: bold;
    position: relative;
    padding-top: 13px;
    display: block;
    box-sizing: content-box;
    margin: 0 auto;
    text-align: center;
}

.technology-description {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    padding-top: 13px;
    display: block;
    width: 150px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.our-technologies-list-item:hover {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}


/* FOOTER */

.footer {
    background-color: #1B1B1B;
    height: 387px;
    margin-top: 134px;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 62px;
}

.request-breaf-bottom {
    position: absolute;
    display: block;
    width: 239px;
    height: 54px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.04em;
    background: linear-gradient(to left, #5C9FF9, #0058DC);
    color: #ffffff;
    border-radius: 3px;
    border: none;
    padding-bottom: 4px;
    padding-right: 77px;
    top: 69px;
}

.request-breaf-bottom::after {
    content: "";
    position: absolute;
    background-image: url("../images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 10px;
    top: 22px;
    right: 12px;
}

.footer-write-request p {
    margin-top: 84px;
}

.footer-contacts {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 167px;
}

.contacts-social-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    left: -779px;
    height: 167px;
}

.geo-position {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    position: absolute;
}

.geo-position span {
    font-size: 18px;
    line-height: 30px;
}

.geo-position p {
    margin-top: 0;
}

.geo-position1 {
    left: -490px;
}

.geo-position2 {
    left: -232px;
}

.contacts-social-list-item {
    position: relative;
}

.telegram::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 17px;
    background: url("../images/telegram.png");
    left: -37px;
    top: 7px;
}

.viber::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    background: url("../images/viber.png");
    left: -33px;
}

.mail::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    background: url("../images/mail.png");
    left: -33px;
    top: 3px;
}

.geo-position::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 9px;
    background: url("../images/marker.png");
    left: -16px;
    top: 9px;
}

.line {
    display: block;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 81px;
}


/* FOOTER-BOTTOM */

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 21px;
    position: relative;
}

.social-media-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65px;
    padding-right: 21px;
    margin-top: 4px;
}