.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "in1 in1 in1 in1 btn5" "btn1 btn2 btn3 btn4 btn5" "in2 in2 in2 in2 btn5" "ab ab ab ab ab";
    // grid-template-areas: "in1 btn5" "btn1 btn2 btn3 btn4 btn5" "in2 btn5" "ab";
}

.input1 {
    grid-area: in1;
}

.input2 {
    grid-area: in2;
}

.btn1 {
    grid-area: btn1;
}

.btn2 {
    grid-area: btn2;
}

.btn3 {
    grid-area: btn3;
}

.btn4 {
    grid-area: btn4;
}

.btn5 {
    grid-area: btn5;
}

.additional-block {
    grid-area: ab;
    border: 1px solid black;
}

.lighted {
    background-color: yellow;
}