@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

.main {
  height: 98vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50fr 150fr 30fr 100fr 50px;
      grid-template-rows: 50fr 150fr 30fr 100fr 50px;
}

.main div {
  border: 2px solid black;
}

.header {
  min-width: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "lo na";
}

@media (max-width: 400px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "lo" "na";
  }
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lo;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: na;
}

.grid-flowers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
}

.aside {
  overflow-y: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: "l1 ." "l1 l2" "l3 l2" "l3 l4" "l5 l4" "l5 .";
}

.lorem {
  margin-top: 20px;
  margin-right: 60px;
  width: 60px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: scroll;
}

.lorem1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: l1;
}

.lorem2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: l2;
}

.lorem3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: l3;
}

.lorem4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: l4;
}

.lorem5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: l5;
}

.article {
  grid-area: ar;
}

.section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
  min-width: 300px;
}

.section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.section-text div {
  width: 300px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: scroll;
}

.section-text img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid red;
}

.lorem7 {
  position: absolute;
  left: 0;
  top: 0;
}

.lorem7 img {
  float: right;
}

.lorem8 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.lorem8 img {
  float: left;
}

.section-img {
  height: 100px;
  width: 100%;
  background: url("../images/flowers.jpg");
  background-repeat: repeat;
}

.infinite-row {
  min-width: 400px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 400px) {
  .infinite-row {
    display: none;
  }
}

.infinite-row span {
  display: inline-block;
  -webkit-animation: scroll 15s infinite linear;
          animation: scroll 15s infinite linear;
}

.footer-top {
  min-width: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "lo10 lo11";
}

@media (max-width: 400px) {
  .footer-top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "lo10" "lo11";
  }
}

.lorem10 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lo10;
}

.lorem11 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lo11;
}

.footer-bottom {
  min-height: 50px;
  background-image: url("../images/hills.jpg");
  background-repeat: repeat;
}
/*# sourceMappingURL=main.css.map */