.main {
    margin: 50px auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.coordinates--left {}

.coordinates--bottom {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}

.coordinate {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;
    text-align: center;
}

.chest-board {
    width: 800px;
    height: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}

.cell {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;
    text-align: center;
}

.cell-white {
    background-color: lightgray;
}

.cell-black {
    background-color: #b58863;
}

.black-team {
    color: black;
}

.white-team {
    color: white;
}