body {
  font-family: "Google Sans";
  font-size: 14px;
  line-height: 16px;
  background-color: #FFFFFF;
  min-width: 358px;
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 358px) {
  body {
    overflow-x: scroll;
  }
}

button {
  cursor: pointer;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top {
  background-color: #F2F2F2;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
}

.header-top .links-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
}

.header-top a {
  text-decoration: none;
  color: #4F4F4F;
}

@media (max-width: 358px) {
  .header-top .container {
    max-width: 358px;
    margin: 0 auto;
  }
  .header-top .links-entry {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 358px) and (max-width: 750px) {
  .header-top .container {
    max-width: 750px;
    margin: 0 auto;
  }
  .header-top .links-entry {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 750px) and (max-width: 110px) {
  .header-top .container {
    max-width: 1110px;
    margin: 0 auto;
  }
  .header-top .links-entry {
    position: absolute;
    right: 0;
  }
}

.feedback {
  margin-right: 37px;
}

.navigation {
  background-color: #FFFFFF;
  border: 1px solid #E8E8EE;
  height: 83px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-button {
  background-image: url("../images/menu-options.svg");
  width: 26px;
  height: 19px;
  background-color: #FFFFFF;
  border: none;
  margin-top: 32px;
}

.search {
  background-color: #FCFCFC;
  color: #828282;
  width: 651px;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  margin-left: 196px;
  position: relative;
  border: 1px solid #E8E8EE;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search i {
  font-size: 10px;
  position: absolute;
  top: 17px;
  left: 13px;
}

.search input {
  border: none;
  height: 42px;
  width: 300px;
  margin-left: 42px;
}

.search .town-list {
  margin-left: 142px;
  height: 30px;
  width: 184px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  margin-top: 7px;
  padding-top: 6px;
  padding-left: 41px;
  border-left: 1px solid #BDBDBD;
  position: relative;
}

.search .town-list::after {
  position: absolute;
  content: "";
  background: url("../images/polygon.svg");
  width: 7px;
  height: 7px;
  top: 11px;
  left: 125px;
}

@media (max-width: 358px) {
  .navigation .container {
    max-width: 358px;
  }
  .search {
    display: none;
  }
}

@media (min-width: 358px) and (max-width: 750px) {
  .navigation .container {
    max-width: 750px;
  }
  .search {
    display: none;
  }
}

@media (min-width: 750px) and (max-width: 1110px) {
  .navigation .container {
    max-width: 1110px;
  }
  .search {
    display: none;
  }
}

.add-update {
  width: 218px;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(245.23deg, #32228A -43.18%, #745ACD 100%);
  color: #ffffff;
  border-radius: 3px;
  margin-top: 20px;
  padding-top: 7px;
}

.sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.sliders::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 13px;
  background: url("../images/row-left.svg");
  top: 100px;
  left: -30px;
}

.sliders::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 13px;
  background: url("../images/row-right.svg");
  top: 100px;
  right: -30px;
}

.slider {
  margin-top: 25px;
  width: 358px;
  height: 169px;
  border-radius: 5px;
}

.slider1 {
  background-image: url("../images/smartphone.jpg");
}

.slider2 {
  background-image: url("../images/automobile.jpg");
}

.slider3 {
  background-image: url("../images/smartphone.jpg");
}

@media (max-width: 358px) {
  .slider3 {
    display: none;
  }
  .sliders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 358px) and (max-width: 750px) {
  .slider3 {
    display: none;
  }
  .sliders {
    max-width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 750px) and (max-width: 1110px) {
  .sliders {
    max-width: 1110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 358px) {
  .section {
    max-width: 358px;
    margin: 0 auto;
  }
}

@media (min-width: 358px) and (max-width: 750px) {
  .section {
    max-width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 750px) and (max-width: 1110px) {
  .section {
    max-width: 1110px;
    margin: 0 auto;
  }
}

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 27px;
  border-top: 1px solid #E8E8EE;
}

.filter-block h1 {
  padding-top: 17px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  width: 410px;
  padding-top: 36px;
}

.filters i {
  display: none;
}

@media (max-width: 358px) {
  .filters {
    padding-right: 30px;
    width: 60px;
  }
}

@media (min-width: 358px) and (max-width: 750px) {
  .filters {
    padding-right: 30px;
    width: 60px;
  }
}

.currency, .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.currency .option-value, .price .option-value {
  color: #979FAD;
  margin-left: 14px;
  position: relative;
}

.currency .option-value::after, .price .option-value::after {
  position: absolute;
  content: "";
  background: url("../images/polygon.svg");
  width: 7px;
  height: 7px;
  top: 8px;
}

@media (max-width: 358px) {
  .currency i, .price i {
    display: block;
  }
  .currency .option-name, .price .option-name {
    display: none;
  }
  .currency .option-value, .price .option-value {
    display: none;
  }
}

@media (min-width: 358px) and (max-width: 750px) {
  .currency i, .price i {
    display: block;
  }
  .currency .option-name, .price .option-name {
    display: none;
  }
  .currency .option-value, .price .option-value {
    display: none;
  }
}

.currency .option-value::after {
  left: 62px;
}

.price .option-value {
  margin-right: 15px;
}

.price .option-value::after {
  left: 130px;
}

.products {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .product {
  width: 253px;
  height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/product.jpg");
  margin-bottom: 31px;
}

@media (max-width: 358px) {
  .products {
    width: 253px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
    margin-top: 31px;
  }
}

@media (min-width: 358px) and (max-width: 750px) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 31px;
  }
}

@media (min-width: 750px) and (max-width: 1110px) {
  .products {
    max-width: 1110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 31px;
  }
}
/*# sourceMappingURL=main.css.map */